body{
	background-color: #dbdbdb;
}

.card{
	background-color: white;
	width: 350px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.profile-img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	float: left;
}

.personalCardInfo{
	overflow: auto;
}

.personal{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family: "Helvetica Neue";

}

.otherCardInfo{
	clear: left;
}

.otherInfo{
	margin-top: 10px;
	font-family: "Helvetica Neue";
	overflow: auto;
}

.otherCardInfoImg{
	float: left;
	height: 15px;
	width: 15px;
}

.otherCardInfoText{
	margin-left: 10px;
	font-size: 13px;
	float: left
}

.personalName{

}

.personalEmail{
	font-size: 13px;
	margin-top: 5px;
}

.shade{
	width: 350px;
	height: 40px;
	background-color: #F5F5F5;
}

.finalCard{
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}